<auction-navbar></auction-navbar>

<div class="container">
	<div class="column">
		<div class="row carousel-holder">
			<div class="col-md-12">
				<auction-carousel></auction-carousel>
			</div>
		</div>
		<div class="col-md-9">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<auction-footer></auction-footer>

<div class="navbar-mobile btn-group btn-group-justified navbar-fixed-bottom">
	<a href="#" class="btn btn-default">
		<span class="glyphicon glyphicon-bookmark"></span>
		<span class="text">lib</span>
	</a>
	<a href="#" class="btn btn-default">
		<span class="glyphicon glyphicon-screenshot"></span>
		<span class="text">now</span>
	</a>
	<a href="#" class="btn btn-default">
		<span class="glyphicon glyphicon-play"></span>
		<span class="text">play</span>
	</a>
	<a href="#" class="btn btn-default">
		<span class="glyphicon glyphicon-user"></span>
		<span class="text">auth</span>
	</a>
</div>